body {
  font-family: "Croissant One", cursive;
  background-image: url(../assets/img/paginaprincipal.jpg);
  background-size: cover;
  filter: opacity(1);
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_contenedor {
  padding: 15%;
}

